[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/joseph/Desktop/Equilinox.desktop]
row=9
col=0

[/home/joseph/Desktop/RimWorld.desktop]
row=8
col=0

[/home/joseph/Desktop/steam.desktop]
row=5
col=0

[/home/joseph/Desktop/Counter-Strike Global Offensive.desktop]
row=7
col=0

[/home/joseph/Desktop/Transport Fever 2.desktop]
row=6
col=0

[/home/joseph/Desktop/Age of Empires II Definitive Edition.desktop]
row=0
col=1

[9CB9-D53D]
row=2
col=0

[3E32E2114B936E96]
row=1
col=0

[6EF0C22CF0C1F9FB]
row=3
col=0

[A04CFC1F4CFBEDC2]
row=4
col=0

[Rubbish]
row=0
col=0

